@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  text-align: center;
  background: #F5F6FA;/*--F5F6FA*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comments-page{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  background-color: #F5F6F9;
}

.comment-card{
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-color: white;
  /*border: 1px solid #cecece;*/
  box-shadow: 5px 5px 5px #cecece;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.vote-comment{
  background-color: #FF9;
}

.content-comment{
}
.content-top-commet{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 10px;
}

.profile-comment{
  flex-grow: 1;
  display: flex;
}
.user-comment{
  padding: 7px;
  font-weight: bold;
}
.timeago-comment{
  padding: 7px;
  color: #7F8083;
}
.profile-comment>img{
  width: 40px;
  height: 40px;
}


.text-comment{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  color: #7C7D82;
  text-align: left;
  padding: 10px;
}

