.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comments-page{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: #F5F6F9;
}

.comment-card{
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #cecece;
  box-shadow: 5px 5px 5px #cecece;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.vote-comment{
  display: flex;
  border-radius: 7px;
  background-color: #F5F6F9;
  justify-content: center;
  width: 20px;
}

.content-comment{
}
.content-top-commet{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.profile-comment{
  display: flex;
  align-items:  center;
}
.user-comment{
  padding: 7px;
}
.timeago-comment{
  padding: 7px;
}
.profile-comment>img{
  width: 40px;
  height: 40px;
}
.action-comment{
  width: 50%;
}

.text-comment{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 10px;
}

